.search-text {
  border: 4px solid #fcee09;
  margin: 20px;
  padding: 20px;
}

.list-button {
  font-family: "Orbitron", courier, sans-serif;
  color: #fcee09;
  text-shadow: 0 0 20px rgba(157, 208, 154, 0.3);
  background: black;
}
