*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  border: 4px solid midnightblue;
  padding: 20px;
  text-align: center;
  background-color: rgb(200, 139, 193);
  min-height: 120vh;
  font-size: calc(10px + 2vmin);
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #00ff9f;
  border: 4px solid #00ff9f;
  padding: 20px;
  /* margin: 20px; */
}

/* .login-button {
  display: flex;
  justify-content: space-evenly;
  border: 4px solid green;
  margin: 20px;
  padding: 20px;
} */

.logout-button {
  /* display: flex;
  align-self: flex-end;
  border: 4px solid purple; */
  margin: 20px;
  padding: 20px;
}

.search-text {
  border: 4px solid navy;
  margin: 20px;
  padding: 20px;
}

.search-bar {
  border: 4px solid slategray;
  width: 80vw;
  margin: 20px;
  padding: 20px;
}

.drop-down {
  display: flex;
  justify-content: center;
  border: 4px solid crimson;
  margin: 20px;
  padding: 20px;
}

ul {
  border: 4px solid darkorange;
  margin: 20px;
  padding: 20px;
  list-style-type: none;
}

li {
  border: 4px solid darkorange;
  margin: 20px;
  padding: 20px;
  justify-content: center;
}

.dropdown-title {
  font-size: xx-large;
}

footer {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
  padding: 20px;
  border: 4px solid brown;
  font-size: small;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 4px solid purple;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  border: 4px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: cadetblue;
  width: 36%;
  height: 18em;
}

img {
  width: 65%;
  height: fit-content;
}

@media only screen and (max-width: 821px) {
  .card-container {
    width: 70%;
  }
}
