@import url(https://fonts.googleapis.com/css?family=Orbitron);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to right, #434343 0%, rgb(41, 39, 39) 100%);
  font-family: "Orbitron", courier, sans-serif;
  text-shadow: 0 0 3px rgba(157, 208, 154, 0.3);
  font-size: calc(10px + 2vmin);
}

.watch-lists {
  display: flex;
  font-family: "Orbitron", courier, sans-serif;
  text-shadow: 0 0 1px rgba(157, 208, 154, 0.3);
  font-size: calc(10px + 2vmin);
  border: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0px 70px magenta;
  flex-wrap: wrap;
  padding-top: 10px;
  color: #fcee09;
}

.alert-movie {
  position: fixed;
  top: 0;
  left: 40%;
  z-index: 1;
  font-family: "Orbitron", courier, sans-serif;
  text-shadow: 0 0 1px rgba(157, 208, 154, 0.3);
  font-size: 15px;
}

.list-meta-items {
  font-family: "Orbitron", courier, sans-serif;
  color: #fcee09;
  font-size: calc(2px + 2vmin);
  display: flex;
  justify-content: center;
}
.ant-spin-nested-loading {
  width: 100% !important;
}

h3 {
  color: #fcee09;
  text-shadow: 0 0 20px rgba(157, 208, 154, 0.3);
  font-family: "Orbitron", courier, sans-serif;
}

h5 {
  color: #fcee09;
  text-shadow: 0 0 20px rgba(157, 208, 154, 0.3);
  font-family: "Orbitron", courier, sans-serif;
}
