*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  text-align: center;
  background-color: rgb(200, 139, 193);
  min-height: 120vh;
  font-size: calc(10px + 2vmin);
}

header {
  background-color: black;
  z-index: 1;
  padding: 0.75em;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 10px solid #f2e900;
  width: 100vw;
  font-size: xx-large;
  color: #00ff9f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-button {
  display: flex;
  justify-content: center;
}

.logout-button {
  /* display: flex;
  justify-content: flex-end; */
  border: 4px solid purple;
  margin: 20px;
  padding: 20px;
}

.search-text {
  border: 4px solid navy;
  margin: 20px;
  padding: 20px;
}

.search-bar {
  border: 4px solid slategray;
  width: 80vw;
  margin: 20px;
  padding: 20px;
}

.drop-down {
  display: flex;
  justify-content: center;
  border: 4px solid crimson;
  margin: 20px;
  padding: 20px;
}

.homepage-text {
  /* display: flex; */
  /* position: relative; */
  border: 4px solid darkorange;
  margin: 20px;
  padding: 20px;
}

.dropdown-title {
  font-size: xx-large;
}
